.portlet-profile .portlet-body section {
	border: 0px solid !important;
}

.portlet-profile .portlet-content .portlet-content-container {
	border: 1px solid white;
	border-top-color: #fdfeff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.portlet-profile .portlet-content {
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
	border-top-color: #dddee2;
	border-right-color: #dddee2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.67);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.67);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.67);
}

.portlet-profile .portlet-topper {
	background: none;
	border: none;
	box-shadow: none;
}

.portlet-profile .portlet-title-text {
	font-size: 16px;
}

.portlet-profile .portlet-title .icon {
	display: none;
}

.portlet-profile .portlet-minimize-icon, .portlet-profile .portlet-maximize-icon {
	display: none;
}

.portlet-profile .portlet-title {
	background: none;
	border: none;
}

/* Primefaces Styles */
.ui-growl {
	top: 40% !important;
	left:40% !important;
}

